/******************************************************************************************/
/*                                                                                        */
/* Copyright 2018 Precision Computer Works Inc / eJournalPress                            */
/*                                                                                        */
/* ejp_uat.css                                                                            */
/*                                                                                        */
/* $Id: ejp_uat.css,v 83.3 2019/01/24 15:18:33 plotkin Exp $                              */
/*                                                                                        */
/* Permission is hereby granted, free of charge, to any person obtaining a copy of this   */
/* software and associated documentation files (the "Software"), to deal in the Software  */
/* without restriction, including without limitation the rights to use, copy, modify,     */
/* merge, publish, distribute, sublicense, and/or sell copies of the Software, and to     */
/* permit persons to whom the Software is furnished to do so, subject to the following    */
/* conditions:                                                                            */
/*                                                                                        */
/* The above copyright notice and this permission notice shall be included in all copies  */
/* or substantial portions of the Software.                                               */
/*                                                                                        */
/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,    */
/* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A          */
/* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT     */
/* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF   */
/* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE   */
/* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.                                          */
/*                                                                                        */
/*                                                                                        */
/******************************************************************************************/

.uat-widget .ejp-uat-added-terms {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.uat-widget .ejp-uat-added-terms TD, .uat-widget .ejp-uat-added-terms TH {
  border: 1px solid black;
  padding: 4px 4px 4px 4px;
}

.uat-widget .ejp-uat-remove-link {
  cursor: pointer;
}

.uat-widget .ejp-uat-infolink {
  display:inline;
  padding-left: 5px;
}

.uat-widget .ejp-uat-info {
  border: 1px solid black;
  padding: 6px 6px 6px 6px;
  margin-left:7px;
  min-height: 200px;
  min-width: 200px;
}

.uat-widget .ejp-uat-info-title {
  font-weight:bold;
  display:inline;
}

.uat-widget .ejp-uat-info-section {
  margin-bottom:10px;
}

.uat-widget .ejp-uat-added-external-id {
  padding-left:8px;
  display:inline;
}

.uat-widget .ejp-uat-autocompleter TD {
  vertical-align: top;
}

.uat-widget .ejp-uat-link {
  display:inline;
  padding-right:10px;
}

.uat-widget .ejp-uat-links {
  padding-top:10px;
  padding-bottom:10px;
}

.uat-widget .ejp-uat-autocompleter .autocomplete {
  max-height: 400px;
  max-width: 400px;
  overflow-y: scroll;
  white-space: normal;
}

.uat-widget .ejp-uat-autocompleter .autocomplete UL LI {
  padding: 4px 6px;
}

.uat-widget .ejp-uat-info-add {
  display:inline-block;
  margin-left:7px;
  cursor:pointer;
  vertical-align: middle
}

.uat-widget .ejp-uat-info-add IMG {
  width:13px;
  height:auto;
}

.uat-widget .ejp-uat-info-term {
  display:inline-block;
  vertical-align: middle
}

.uat-widget .ejp-uat-clipboard {
  max-width:400px;
  position:absolute;
  border:1px solid black;
  padding:5px;
  background-color:white;
  z-index:200;
}

.uat-widget .ejp-uat-clipboard-close {
  cursor:pointer;
  float:right;
}

.uat-widget .ejp-uat-clipboard-close IMG {
  width:20px;
  height:auto;
}

/* Autocompleter */

.uat-widget div.autocomplete {
  position:absolute;
  width:550px;
  background-color:#fafafa;
  border:1px solid #ccc;
  border-width: 1px 1px 0;
  margin:0;
  padding:0;
  font-family: arial;
  font-size: 10pt;
}

.uat-widget div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.uat-widget div.autocomplete ul li.selected {
  background-color: #4173cc;
  color:#fff;
}

.uat-widget div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0px;
  padding:2px;
  cursor:pointer;
  border-bottom:1px solid #ccc;
}

.uat-widget div.autocomplete ul li .autocomplete_regex {
  font-weight: bold;
  background-color: #a1d3ff;
}

.uat-widget div.autocomplete ul li.selected .autocomplete_regex {
  background-color: #81B3FF;
}

.uat-widget div.autocomplete ul li span.autocomplete_extra {
  font-size: smaller;
}
