/* Autocompleter */

div.autocomplete {
  position:absolute;
  width:550px;
  background-color:#fafafa;
  border:1px solid #ccc;
  border-width: 1px 1px 0;
  margin:0;
  padding:0;
  font-family: arial;
  font-size: 10pt;
}

div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.autocomplete ul li.selected {
  background-color: #4173cc;
  color:#fff;
}

div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0px;
  padding:2px;
  cursor:pointer;
  border-bottom:1px solid #ccc;
}

div.autocomplete ul li .autocomplete_regex {
    font-weight: bold;
    background-color: #a1d3ff;
}

div.autocomplete ul li.selected .autocomplete_regex {
    background-color: #81B3FF;
}

div.autocomplete ul li span.autocomplete_extra {
  font-size: smaller;
}
